.products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.menuProduct {
    button {
        border: 1px solid #e5e7eb;
        padding: 7px;
        margin: 3px;
        width: 85px;
    }
    button:hover {
        background-color: #aa0000;
    }
}

.paginationBtn {
    margin-top: 20px;
    border: none;
    padding: 20px;
}

/*
@media only screen and (max-width: 1024px) {
    .productList {
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 576px) {
    .productList {
        display: grid;
        grid-template-columns: auto;
        width: 80%;
    }
}*/
