/*.productList{
    width: 700px;
    height: auto;
    border: 1px none rgb(37, 34, 34);
    padding: auto;
    margin: auto;
   
    p{
     
        color:black;
        text-align: justify;
        padding: 20px;
    }
}*/
