.detaiProduct{
    width: 700px;
    height: auto;
    border: 1px none rgb(37, 34, 34);
    margin: auto;
  div{
    padding: 20px;
  }
   
}
.detaiProduct .description{
    text-align: justify;
    padding: 10px;
   }
.detaiProduct .name, .price{
    font-weight: bold;
    color:#990033;
   }


