* {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    line-height: 1.55;
    font-size: 16px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .App {
        margin-left: 150px;
        width: 100%;
    }
    body {
        margin: 0;
        font-size: 24px;
        box-sizing: border-box;
    }
    .header ul {
        width: 500px;
    }
}
