.footer {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    padding: 30px;
    position: sticky;
    top: 100%;
    border-top: 2px solid gray;
}
.columns {
    h6 {
        font-weight: normal;
        padding: 10px;
    }
}
